<!doctype html>

<!-- Quiz container -->
<div class="quiz-container">
  <!-- Question display -->
  <div class="question-display">
    <p id="question-text">{{ question.question }}</p>
   </div>
 
   <div class="form-check" v-for="answer in question.answer">
                <input @change="checkAnswer($event, question.uid)" :value="answer.answer" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  [[answer.answer]]
                </label>
              </div>

 
  <!-- Navigation buttons -->
  <div class="nav-buttons">
    <button id="prev-button">Previous</button>
    <button id="next-button">Next</button>
    <button id="goto-button">Go to question</button>
    <input type="number" id="goto-input" placeholder="Enter question number">
    <button id="review-button">Review</button>
  </div>
</div>
